.contact-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	padding-top: 2vmin;
	padding-bottom: 5vmin;
	width: 100%;
	font-size: 2vmin;
	padding-top: 12vmin;
}

.contact-container .contact-title {
	margin-bottom: 6vmin;
	font-size: 5vmin;
}

.contact-container .inputs-information {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
}

.contact-container .inputs-information .personnel-information {
	width: 90vmin;
	height: 30vmin;
	margin-right: 7.5px;
}

.contact-container .inputs-information .personnel-information input {
	width: 100%;
	height: 8vmin;
	border: none;
	border-radius: 4vmin;
	padding-left: 2vmin;
	color: #0c022778;
	margin-bottom: 3vmin;
	background-color: #ebeffe;
}

.contact-container .inputs-information .personnel-information .countries {
	width: 100%;
	height: 8vmin;
	border: none;
	border-radius: 4vmin;
	padding: 2vmin;
	background-color: #ebeffe;
	margin-bottom: 10px;
	cursor: pointer;
	color: #0c022778;
}

.contact-container .inputs-information .helping-question {
	height: 100%;
	width: 100vmin;
	display: flex;
	flex-direction: column;
}

.contact-container .inputs-information .helping-question .help {
	width: 100%;
	height: 100%;
	background: #f7f8ff;
	border: none;
	border-radius: 4vmin;
	padding-bottom: 40vmin;
	padding-left: 3vmin;
	resize: vertical;
}

.buttons {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-top: 3vmin;
}

.buttons button {
	border-radius: 2vmin;
	border: none;
	text-align: center;
	padding: 2.5vmin 8vmin;
	margin-left: 3vmin;
	cursor: pointer;
	border: 1px solid #0162ff;
}

.buttons .submit {
	background: #0162ff;
	color: #f7f8ff;
}

.buttons .submit:hover {
	background: #f7f8ff;
	border: 1px solid #0162ff;
	color: #0162ff;
}

.buttons .cancel {
	background: #f7f8ff;
	color: #0162ff;
	border: 1px solid #0162ff;
}

.buttons .cancel:hover {
	color: #f7f8ff;
	background: #080320;
	border-color: #080320;
}

@media (max-width: 700px) {
	.contact-container .inputs-information .personnel-information {
		flex-wrap: inherit;
		width: 100%;
		height: 45vmin;
		margin: 0;
	}
	.contact-container .inputs-information .personnel-information .first-col {
		flex-direction: column;
		width: 100%;
		margin: 0;
	}

	.contact-container .inputs-information .personnel-information .second-col {
		flex-direction: column;
		width: 100%;
		margin: 0;
	}
	.contact-container .inputs-information .helping-question {
		width: 90%;
		margin: auto;
	}
	.contact-container .inputs-information .helping-question input {
		width: 100%;
	}
}

@media (max-width: 1000px) {
	.contact-container {
		align-items: center;
		justify-content: center;
		padding-top: 0;
	}
	.contact-container .contact-title {
		font-size: 30px;
	}
	.contact-container .inputs-information .personnel-information {
		width: 100%;
		margin-left: 3vmin;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 14px;
		/* margin-bottom: 3.5rem; */
	}
	.contact-container .inputs-information .personnel-information input {
		height: 30px;
		font-size: 13px;
	}
	.contact-container
		.inputs-information
		.personnel-information
		.second-col
		.country
		.countries {
		height: 30px;
		font-size: 13px;
	}
	.contact-container .inputs-information .personnel-information .first-col {
		width: 50%;
		margin-right: 3px;
	}
	.contact-container .inputs-information .personnel-information .second-col {
		width: 50%;
	}
	.contact-container .inputs-information .helping-question {
		width: 90%;
		margin-left: 2vmin;
		align-items: center;
		justify-content: center;
		font-size: 14px;
	}
	.buttons {
		justify-content: center;
	}
}
