@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
	scroll-behavior: smooth;
}

body {
	scroll-behavior: smooth;
	font-family: "Montserrat", sans-serif;
	overflow-x: hidden;
	width: 100%;
}

body::-webkit-scrollbar {
	display: none;
}

ul {
	list-style: none;
}
a {
	text-decoration: none;
}

h1 {
	font-size: 5.5vmin;
	margin-bottom: 0;
	margin-top: 15px;
}

.container {
	width: 100%;
	margin: auto;
}

.grid {
	display: grid;
	grid-gap: 1.5rem;
}

section {
	padding: 60px 0;
}

.link-pionners {
	display: block;
	color: #0162ff;
	font-size: 2.5vmin;
}

.titles {
	font-size: 40px !important;
}

/* :root {
	--roze: #df1d5a;
	--yellow: #ebb22d;
	--green: #2db67e;
} */

.roze {
	color: #df1d5a;
}

.yellow {
	color: #ebb22d;
}

.green {
	color: #2db67e;
}

.montserrat {
	/* font-family: "Montserrat" !important;
	font-weight: bold; */
	/* font: var(--unnamed-font-style-normal) normal
		var(--unnamed-font-weight-normal) var(--unnamed-font-size-40) /
		var(--unnamed-line-spacing-49) var(--unnamed-font-family-montserrat); */
	font-size: 2rem !important;
	font-weight: 600 !important;
}
