/* * {
	overflow-x: hidden;
} */

p {
	font-size: 5vmin;
}
#btnScrollToTop {
	position: fixed;
	display: none;
	right: 10px;
	bottom: 10px;
	width: 7vmin;
	height: 7vmin;
	border-radius: 50%;
	background: #03dee7;
	color: #f7f8ff;
	border: none;
	cursor: pointer;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
	z-index: 100;
	font-size: 3vmin;
}

#btnScrollToTop i {
	width: 100%;
	height: 50%;
	margin: auto;
}

#btnScrollToTop:active {
	background-color: #0ab9bf;
}

/* Start Process Section */
/* 
.process-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 1.5rem;
  padding-top: 4.5rem;
}

.process-container .process-title{
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 11.5vmin;
}

.process-container .process-title a{
  font-size:15px;
  text-decoration: none;
  color: #C8CCDC;
  margin-top: 20px;
}

.process-container .process-title a span{
  color: #0162FF;
}

.process-container .process-content{
  width: 100%;
  padding-left: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.process-container .process-content .process-path{
  object-fit: cover;
  width: 100%;
}

.process-container .process-content .process{
  margin-right: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.process-container .process-content .process .title{
  color: #0162FF;
  margin: 11px 0;
}

.process-container .process-content .process .logo{
  color: black;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4vmin;
  cursor: pointer;
}

.process-container .process-content .process .logo span{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: black;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* End Process Section */

/* ========================= */

/* Start Technologies section */

.technologies-container {
	position: relative;
	overflow: hidden;
	padding-top: 4.5rem;
	/* padding-bottom: 4.5rem; */
	width: 100%;
	flex-wrap: nowrap;
}

.technologies-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 50px;
	text-align: center;
}

.technologies-title .title {
	font-size: 40px;
	font-weight: 500;
	margin-bottom: 2vmin;
	text-transform: capitalize;
	text-align: center;
}

.technologies-title a {
	text-decoration: none;
	color: #c8ccdc;
	font-size: 15px;
	margin-top: 18px;
	margin-bottom: 4rem;
}

.icons-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	height: 190px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20vmin;
}

.icons-container .technologie {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	color: #c8ccdc;
	cursor: pointer;
	/* margin-left: 5vmin;
	margin-right: 9vmin; */
	width: 120px;
	margin: auto;
}

.icons-container .technologie .icon {
	/* height: 24vmin; */
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 100px;
	margin: auto;
	margin-bottom: 25px;
}

.icons-container .technologie .icon img {
	/* width: 100%; */
	width: auto !important;
	/* height: 100%; */
	height: auto !important;
	object-fit: cover;
	margin: auto;
}

.icons-container .technologie .icon-title {
	font-size: 15px;
	width: auto;
	text-align: center;
	/* margin-top: 3vmin; */
}

/* .technologies-container .icons-container .empty-technologie {
	margin-left: -15px !important;
	margin-right: -30px !important;
	display: none;
} */

@media (max-width: 1200px) {
	.empty-technologie {
		display: inline-block;
	}
	.technologies-title .title {
		font-size: 30px;
	}
	.icons-container .technologie .icon {
		margin-bottom: 10px;
	}
}

/* End 'We Stand For' section */

/* ========================= */

/* Start About Section*/

.about {
	width: 100%;
}
.row {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	height: 100vmin;
	overflow: hidden;
}

.row .left-col {
	height: 100%;
	text-align: left;
	width: 40%;
	padding: 0 3vmin;
	background: url(../img/About/Mask\ Group\ 10.png);
	background-size: cover;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.row .left-col h1 {
	font-size: 40px;
	margin-top: -5vmin;
	margin-bottom: 3vmin;
}

.about .row .left-col p {
	font-size: 22px !important;
}

.row .left-col span {
	height: 3vmin;
	display: block;
}

.row .right-col {
	width: 60%;
	padding: 0 10px;
	padding-top: 100px;
	padding-bottom: 50px;
	height: 80%;
	/* display: flex;
  flex-direction: column;
  align-items: center; */
	display: grid;
	grid-template-columns: 1fr;
	/* justify-content: center; */
	background: url(../img/About/AboutUs_Background_Web.svg);
	background-size: cover;
	background-position: left;
}

.row-content {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-around;
	margin-top: -50px;
}

.right-col h3 {
	color: #0162ff;
	font-size: 22px !important;
	margin: 0;
}

.row-content .icon {
	cursor: pointer;
	min-height: 85px !important;
	width: 85px !important;
	margin-right: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.row-content .icon img {
	/* width: 100%; */
	width: auto;
	/* height: 80%; */
	height: auto;
	margin-left: 7.5px;
	object-fit: cover;
}

.row-content p {
	font-size: 22px !important;
	margin-top: -0.1px;
	width: 91%;
}

@media (max-width: 700px) {
	#btnScrollToTop {
		bottom: 17px;
	}
	.question-container {
		text-align: center;
		width: 100%;
	}

	.about .row {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 1150px;
	}

	.row .left-col {
		width: 100%;
		height: 550px;
		padding: 7vmin 3vmin;
	}
	.row .left-col h1 {
		padding-top: 1rem;
		font-size: 30px !important;
	}
	.about .row .left-col p {
		width: 90%;
		font-size: 14px !important;
		text-align: center;
	}

	.row .right-col {
		width: 100%;
		height: 600px;
		display: grid;
		grid-template-columns: 1fr;
		padding-bottom: 10rem;
	}

	.right-col .row-content {
		width: 100%;
		align-items: flex-start;
		justify-content: center;
		margin: 30px 0;
	}
	.row-content .icon {
		width: 20.6vmin !important;
		height: 21vmin !important;
		margin-right: 1rem;
	}
	.row-content .icon img {
		margin-left: 1vmin;
	}
	.right-col .row-content .content {
		width: 70%;
	}
	.right-col .row-content .content .content-title {
		font-size: 18px !important;
	}
	.row-content p {
		font-size: 12px !important;
		width: 100%;
	}
}
@media only screen and (max-width: 1000px) and (min-width: 701px) {
	.question-container {
		text-align: center;
		width: 100%;
	}

	.about .row {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 1050px;
	}

	.row .left-col {
		width: 100%;
		height: 450px;
		padding: 7vmin 3vmin;
	}
	.row .left-col h1 {
		padding-top: 1rem;
		font-size: 30px !important;
	}
	.about .row .left-col p {
		width: 90%;
		font-size: 18px !important;
		text-align: center;
	}

	.row .right-col {
		width: 100%;
		height: 600px;
		display: grid;
		grid-template-columns: 1fr;
		padding-bottom: 2rem;
		align-items: center;
		justify-content: center;
		/* margin: 0; */
		padding: 1.5rem 0;
	}

	.right-col .row-content {
		width: 100%;
		align-items: flex-start;
		justify-content: center;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.row-content .icon {
		width: 15.8vmin !important;
		height: 16vmin !important;
		margin-right: 1rem;
	}
	.row-content .icon img {
		margin-left: 1vmin;
	}
	.right-col .row-content .content {
		width: 70%;
	}
	.right-col .row-content .content .content-title {
		font-size: 22px !important;
	}
	.row-content p {
		font-size: 18px !important;
		width: 100%;
	}
}

/* End About Section*/
